/* Header styling */
header {
    background-color: #F5D5E0;
    color: white;
    padding: 15px;
}

/* Container layout */
.header-container {
    display: flex;
    align-items: right;
    justify-content: space-between;
}
nav {
    margin-left: auto;
}

/* Logo */
.logo {
    width: 400px;
}

/* Navigation */
nav ul {
    list-style: none;
    display: flex;
    gap: 100px;
}

/* Links */
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Hover effect */
nav a:hover {
    text-decoration: underline;
}