body{
margin:0;
font-family: Arial, sans-serif;
background:#F9F9F9;
}

/* header section */

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
background:#141D44;
}

.logo{
width:120px;
}

nav ul{
display:flex;
list-style:none;
gap:30px;
margin:0;
}

nav a{
color:white;
text-decoration:none;
font-weight:bold;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 5%;
}

.tagline{
font-size:30px;
color:#BC002D;
margin-left:-450px;
margin-bottom:200px ;
}

/* feature cards section */

.features{
display:flex;
justify-content:center;
gap:40px;
padding:50px 20px;
}

.card{
width:400px;
height:200px;
background:white;
border-radius:10px;
box-shadow:0 3px 10px rgba(0,0,0,0.2);

display:grid;
padding:10px;
grid-template-columns: 1fr 2fr;
}

.card h2 {
grid-column: 1 / 2;
}
.card img{
grid-column: 1 / 2;
}
.card p{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.card ol {
    grid-column: 2 / 3;
    grid-row: 2 / 3
}

/* information section */

.info{
display:flex;
align-items:center;
gap:40px;
padding:50px;
}

.info-img img{
width:400px;
border-radius:10px;
}

.info-text{
background:white;
padding:20px;
border-radius:10px;
max-width:500px;
box-shadow:0 3px 10px rgba(0,0,0,0.2);
}

/* footer section */

footer{
background:#141D44;
color:white;
text-align:center;
padding:15px;
}